[Unit]
Description=pulsed resilient cluster htop
Documentation=https://github.com/OffPeakEngineer/pulsed
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pulsed
Group=pulsed
EnvironmentFile=-/etc/pulsed/pulsed.env
ExecStart=/usr/local/bin/pulsed
Restart=always
RestartSec=3
StateDirectory=pulsed
WorkingDirectory=/var/lib/pulsed
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
